/*reset*/
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*estilos genericos*/
body{
    background-color: rgb(239, 232, 220);
    font-family: 'Roboto', sans-serif;
}

/* estilos del header */
.navbar{
    height: 80px;
    background-color: rgb(240, 196, 131);
    font-size: 25px;
    text-transform: capitalize;

}



.navbar-brand{
    font-size: 30px;
    border: 5px solid orange;
    padding: 10px;
}

.navbar span{
    color: black;
    text-shadow: 0 0 3px black;
}

.nav-link {
    color: black !important; 
    font-weight: bold;
    
}

.nav-link:hover{
    color: orange !important;

}

/* estilos home */
.bienvenida{
    height: calc(100vh- 80px);
    display: flex;
    justify-content: space-between;
    padding: 20px;
    margin: 20px;
}

.bienvenida h1{
    color: orange ;
}

.bienvenida h2{
    color: orange;
    text-transform: capitalize;
}

.bienvenida p{
    text-align: justify;
    padding: 20px;
}

.info-bienvenida-left{
    width: 400px;
    padding: 10px;
    margin: 10px;
    border: 2px solid orange;
    text-align: center;
    font-size: 20px;
}

.info-bienvenida-left a{
    text-decoration: none;
    color: white;
    
    
} 

/* estilos adopta */

.titulo-adopta{
    width: 500px;
    text-align: justify;
}

.titulo-adopta h1{
    color: orange ;
    padding: 15px;
    
}


.titulo-adopta p{
    padding: 10px;
}


.card{
    width: 200px;
    border: 5px solid #000;
    background-color: rgb(239, 232, 220);
    
    
}

.card-img-top{
    background-size: cover;
    background-position: center;
    padding-top: 10px;
    
}

.card h2{
    color: #000;
    font-weight: bold;
}


.card h2:hover{
    color: orange;

}


/*estilos de footer*/
footer{
    background-color: burlywood;
    text-align: center;
    font-size: 22px;
    text-transform: capitalize;
    padding: 10px;
    font-weight: bold;
}

footer p{
    margin-bottom: 15px;
}

.redes a{
    color:rgb(239, 232, 220) ;
    font-size: 25px;
    letter-spacing: 10px;
}


@media only screen and (max-width:768px){

    .navbar{
        height: 90px;

    }


    .bienvenida{
        display: block;
        font-size: 18px;
    }

    .info-bienvenida-left{
        display: none;

    }

    
}
    

    






